{% extends "network/layout.html" %}

{% block body %}
    <div id="main_box">
        <div id="compose_view">
            <div id="csrf">
                {% csrf_token %}
            </div>
            {% if user.is_authenticated %}
            {{ request.user.username|json_script:"user_username" }}
            {% else %} 
                {{ "anonimno"|json_script:"user_username"}}
            {% endif %}
        </div>
        <div id="profile_view">
            {% if user.is_authenticated %}
                {{ request.user.username|json_script:"user_username" }}
            {% else %} 
                {{ "anonimno"|json_script:"user_username" }}
            {% endif %}
            {{ profile_username|json_script:"profile_username" }}
        </div>
    </div>
{% endblock %}